.projectItemArea {
  margin-top: 50px;
  border: 5px solid var(--color1);
  box-shadow: 5px 5px 5px var(--color1);
  padding: 50px;
  background-color: var(--color4);
  border-radius: 30px;
}

.sitePreview {
  overflow: hidden;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 5px var(--color1);
  border: 1px solid var(--color1);
  border-radius: 15px;
}

.linkBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--color5);
}

.linkBar h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.siteRepo {
  height: 50px;
  width: 50px;
}
.siteRepo img {
  height: 100%;
  width: 100%;
}

.siteDescription {
  display: flex;
}

.siteDescription p {
  padding: 5px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}
